<div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-8 offset-2">
  <h1 class="text-center font-weight-bold text-success mt-5">Change your password</h1> 
  <%= devise_error_messages! %> 
  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.input :password, required: true, autofocus: true, label: false, placeholder: "New Password" %>
    <%= f.input :password_confirmation, required: true, label: false, placeholder: "Confirm New Password" %>
    <%= f.submit "Reset", class: "btn btn-success waves-effect waves-light btn-block btn-lg mt-lg-3" %>
  <% end %>
</div>
